html{
    font-size: 62.5%;
}

/* font-family: 'Courgette', cursive;
font-family: 'Montserrat', sans-serif; */

body{
    max-width: 1000px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.maindiv{
    margin: 0 auto 0 auto;
}
.maincontent{

display: flex;
flex-direction: column;
}

h1{
    color: dodgerblue;
    font-size: 5rem;
    font-family: 'Courgette', cursive;
}

h3{
    color: dodgerblue;
    font-size: 2.5rem;
    font-family: 'Courgette', cursive;
}

p{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    margin: 3rem 0rem;
    background-color: slategray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    height: 7rem;
    font-size: 2rem;
}

.navlink{
    color: dodgerblue;
    text-decoration: none;
}

a{
    font-family: 'Courgette', cursive;
}

.hr{
    width: 90%;
    border: .1rem;
    height: .2rem;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}


#headerimg{
    width:100%;
    height: 10rem;
}

.maincontent{
    border: green solid 1px;
}

.threerows{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

/* TOP CONTENT */

.topthird{
    border:red 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    margin: 2rem 0;
}

.imagecontainertop{
    width: 45%;
}

.mainimgtop{
    width:100%;
}

.maintexttop{
    width: 40%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* CENTER CONTENT */

.centerthird{
    border:red 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    margin: 2rem 0;
}

.imagecontainercenter{
    order: 2;
    width: 45%;
}

.mainimgcenter{
    order: 1;
    width:100%;
}

.maintextcenter{
    width: 40%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* BOTOM CONTENT */

.bottomthird{
    border:red 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    margin: 2rem 0;
}

.imagecontainerbottom{
    width: 45%;
}

.mainimgbottom{
    width:100%;
}

.maintextbottom{
    width: 40%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* FOOTER CONTENT */

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerimg{
    height: 17rem;
    width: 100%;
}

/* MEDIA QUERYS FOR MOBILE BELOW */

@media (max-width: 600px) {
body{
    background-color: red;
}

.threerows{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TOP CONTENT */

.topthird{
    border:black 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagecontainertop{
    border: black 1px solid;
    width:100%
}

.maintexttop{
    width:95%;
}
/* CENTER CONTENT */
.centerthird{
    border:black 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagecontainercenter{
    border: black 1px solid;
    width:100%
}

.maintextcenter{
    width:95%;
}

/* BOTTOM CONTENT */

.bottomthird{
    border:black 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagecontainerbottom{
    border: black 1px solid;
    width:100%
}

.maintextbottom{
    width:95%;
}

}